$--c-theme-primary: #008FFD;
$--c-theme-primary-accent: #CBE8FF;
$--c-bg-primary: #D6DAE0;
$--c-bg-secondary: #EAEBEC;
$--c-bg-tertiary: #FDFDFD;
$--c-text-primary: #1F1F25;
$--c-text-secondary: #999FA6;