@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".drp__";

#{$css_prefix}main{
  display: flex;
  flex-direction: column;
}

#{$css_prefix}date-range-container {
  display: flex;
  border-radius: 10px;
  background-color: $--c-bg-tertiary;
  box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	// padding: 10px 10px 10px 0;
  padding: 10px;
}

#{$css_prefix}date-picker-container {
  border-right: 1px solid $--c-text-secondary;
  margin-right: 10px;
  padding: 0 10px;
}