@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".drp__";


#{$css_prefix}body {
  display: flex;
  flex-direction: column;
}

#{$css_prefix}date-range-input {
  display: flex;
  box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
  border-radius: 10px;
  background-color: $--c-bg-tertiary;
  padding: 10px 15px;
  margin-bottom: 20px;
}

#{$css_prefix}date-range-input-main {
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

#{$css_prefix}date-range-calendar-icon {
  @include display-flex-center;

  width: fit-content;
  font-size: 20px;
}

#{$css_prefix}date-range-input-icon {
  @include display-flex-center;

  margin: 0 10px;
}

#{$css_prefix}main{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
  border-radius: 10px;
  background-color: $--c-bg-tertiary;
  padding: 10px;
}

#{$css_prefix}main-shown {
  opacity: 1;
  transition: opacity 500ms ease;
}

#{$css_prefix}main-hidden {
  opacity: 0;
  transition: opacity 500ms ease;
}

#{$css_prefix}date-range-container {
  display: flex;
}

#{$css_prefix}divider {
  // border-right: 1px solid $--c-text-secondary;
  margin: 0 15px;
  width: 1px;
  background-color: $--c-text-secondary;
}

#{$css_prefix}date-range-actions {
  display: flex;
  margin-top: 15px;
}

#{$css_prefix}date-range-action-item {
  // display: flex;
  padding: 5px 10px;
  background-color: $--c-bg-secondary;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(#000, .1);
  }
}