@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".cd__";

#{$css_prefix}main{
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
  padding: 5px 10px;
}

#{$css_prefix}header {
  display: flex;
  align-items: center;
}

#{$css_prefix}header-icon {
  @include display-flex-center;
  margin-left: 10px;
  cursor: pointer;
}

#{$css_prefix}header-text {
  min-width: 40px;
}

#{$css_prefix}options {
  position: absolute;
  background-color: $--c-bg-secondary;
  border-radius: 5px;
  z-index: 10;
  top: 30px;
  max-height: 360px;
  overflow-y: scroll;
}

#{$css_prefix}options::-webkit-scrollbar {
  width: 0.3em;
}

#{$css_prefix}options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#{$css_prefix}options::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000, $alpha: 0.3);
  border-radius: 5px;
}

#{$css_prefix}option-item-selected {
  background-color: $--c-theme-primary;
}

#{$css_prefix}option-item {
  padding: 5px 10px;
  cursor: pointer;
  
  &:hover {
    background-color: $--c-theme-primary-accent;
  }

  &:last-of-type {
    border-bottom: none;
  }
}