@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".dp__";

#{$css_prefix}main {
  display: flex;
  flex-direction: column;
}

#{$css_prefix}header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px
}

#{$css_prefix}icon {
  @include display-flex-center;

  cursor: pointer;

  display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
  padding: 0 5px;
  padding: 7px;
	// background-color:#FFF;
	border-radius: 5px;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

#{$css_prefix}month-container {
  @include select-none;
  
  margin: 0 10px;
}

#{$css_prefix}date-container {
  @include select-none;

  margin-right: 10px;
}

#{$css_prefix}select {
  margin-right: 5px;  
}

#{$css_prefix}body {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#{$css_prefix}calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

#{$css_prefix}date {
  @include display-flex-center;


  border: 0;
	margin: 5px 2px;
  border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		outline: 0;
		color: $--c-theme-primary;
		border: 2px solid $--c-theme-primary-accent;	
	}	
}

#{$css_prefix}date-disabled {
  color: $--c-text-secondary;
  cursor: not-allowed;

  &:hover {
    color: inherit;
    border: none;
    color: $--c-text-secondary;
  }
}

#{$css_prefix}date-selected {
  background-color: $--c-theme-primary;
  color: white;

  &:hover {
    color: white
  }
}

#{$css_prefix}date-highlighted {
  background-color: $--c-theme-primary-accent;
}

#{$css_prefix}days {
  @include display-flex-center;

  color: $--c-text-secondary;
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}